body{
    margin: 0%;
    height:100%
}

.container {
    display: flex;
    height: 100vh; 
}
    
.a {
    display: flex;
    flex: 1; 
    align-items: center;
    background-color: #f6f6f6;
    height:100%;
}

.a img {
    width: 70%;
    margin: auto;
    display: block;
}

.b {
    display:flex;
    flex-direction: column;
    flex: 1; 
    height: 100%;
    background-color: rgb(12, 12, 46);
    justify-content: center;
    align-items: center;
}
  
.b h1,label {
    font-family: Sans-serif;
    color: white;
    text-align: center;
}
.b label{
    font-size: 20px;
}
.b form{
    width: 230px;
    justify-content: center;
}

.b input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.b form a{    
    font-size: 20px;

    padding: 10px 20px;
     border-radius: 100px;
     border: 1px solid transparent;

    display: block;
    margin: 0 auto;
}

.b form a:hover {
    background: #db5015;
    color:white;
}

.b form a:active {
    transform: scale(0.95);
  }


/*  */


.b form .login-button {    
    background-color: #ccc; 
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    cursor: pointer;
    width: auto; 
    margin-right: 10px; 
    border-radius: 20px; 
    border: none;
    padding: 10px 20px;
    font-size: 20px;
}


.b .form-buttons .button-sign-up-button {
    background-color: #007bff; 
    font-family: Arial, Helvetica, sans-serif;

    color: white;
    cursor: pointer;
    width: auto; 
    margin-left: 10px; 
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none; 
}


.b form button:hover, .b .form-buttons .button-sign-up-button:hover {
    opacity: 0.8; 
}

.b .form-buttons .button-sign-up-button:hover{
    background: #db5015;
    color:white;
}

.b form button:active, .b .form-buttons .button-sign-up-button:active {
    transform: scale(0.95); 
}


.form-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: nowrap; 
    width: 100%; 
}



.button, .form-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px; 
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3; 
}

